<div class="row" style="height: 1900px;">
    <table class="table" id="transaction_table">
        <thead style="background-color: #4d4d4d; color: white; font-size: 12px;">
            <tr>
                <th>Messsage id</th>
                <th>Time</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Service</th>
                <th>Message type</th>
                <th>Ccy</th>
                <th>Amount</th>
                <th>Account number</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="transaction_tbody">
        </tbody>
    </table>
</div>