<div class="row">
  <div class="col-sm-6">
    <div class="well">
      <form onsubmit="user_get_list();return false;">
        <div class="row">
          <div class="col-sm-6">
            <h2>Tài khoản kết nối đến</h2>
          </div>
          <div class="col-sm-3">
            <label class="control-label">IP</label>
            <input type="text" class="form-control" id="username_query">
          </div>
          <div class="col-sm-3">
            <label class="control-label">Tìm</label>
            <button type="submit" class="btn fis form-control" id="btn_query">
              <span class="glyphicon glyphicon-search"></span>
              Tìm
            </button>
          </div>
        </div>
      </form>
      <br />
      <table class="table table-hover" id="user_table">
        <thead class="">
          <tr style="background-color: #4d4d4d; color: aliceblue;">
            <th scope="col">STT</th>
            <th scope="col">Tài khoản</th>
            <th scope="col">Mô Tả</th>
          </tr>
        </thead>
        <tbody id=user_tbody>
          <tr>
            <td scope="col">1</td>
            <td scope="col">mymobifone_product</td>
            <td scope="col">Tài khoản product cho MyMobiFone</td>
          </tr>
          <tr>
            <td scope="col">2</td>
            <td scope="col">mobifone_sit</td>
            <td scope="col">Tài khoản Test SIT</td>
          </tr>
          <tr>
            <td scope="col">3</td>
            <td scope="col">unknown</td>
            <td scope="col">Unknown</td>
          </tr>
        </tbody>
      </table>
      <div class="text-right" id="pagination-here"></div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="well">
      <form onsubmit="user_get_list();return false;">
        <div class="row">
          <div class="col-sm-6">
            <h2>Kênh kết nối được phép</h2>
          </div>
          <div class="col-sm-3">
            <label class="control-label">IP</label>
            <input type="text" class="form-control" id="username_query">
          </div>
          <div class="col-sm-3">
            <label class="control-label">Tìm</label>
            <button type="submit" class="btn fis form-control" id="btn_query">
              <span class="glyphicon glyphicon-search"></span>
              Tìm
            </button>
          </div>
        </div>
      </form>
      <br />
      <table class="table table-hover" id="user_table">
        <thead class="">
          <tr style="background-color: #4d4d4d; color: aliceblue;">
            <th scope="col">STT</th>
            <th scope="col">IP</th>
            <th scope="col">Mô Tả</th>
            <th scope="col">Cho phép</th>
          </tr>
        </thead>
        <tbody id=user_tbody>
          <tr>
            <td scope="col">1</td>
            <td scope="col">10.1.100.1</td>
            <td scope="col">Vietcombank</td>
            <td><input class="form-control" type="checkbox"></td>
          </tr>
          <tr>
            <td scope="col">2</td>
            <td scope="col">10.1.100.2</td>
            <td scope="col">Vietinbank</td>
            <td><input class="form-control" type="checkbox"></td>
          </tr>
          <tr>
            <td scope="col">3</td>
            <td scope="col">10.1.100.4</td>
            <td scope="col">MobifonePay</td>
            <td><input class="form-control" type="checkbox"></td>
          </tr>
          <tr>
            <td scope="col">4</td>
            <td scope="col">10.1.100.3</td>
            <td scope="col">Unknown</td>
            <td><input class="form-control" type="checkbox"></td>
          </tr>
        </tbody>
      </table>
      <div class="text-right" id="pagination-here"></div>
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-3">
          <button  class="btn fis form-control" onclick="save()">
            <span class="glyphicon glyphicon-save"></span>
            Lưu</button>
        </div>
      </div>
    </div>
  </div>
</div>