<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
        <div id="create_box">
            <div class="row">
                <div class="col-sm-12">
                    <label class="control-label">URL</label>
                    <input type="text" class="form-control" id="">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control" id="">
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Password</label>
                    <input type="password" class="form-control" id="">
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-sm-12">
                    <label class="control-label">Sender</label>
                    <input type="text" class="form-control" id="">
                </div>
            </div> -->
            <br />
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <button class="btn fis form-control" onclick="user_edit()">
                        <span class="glyphicon glyphicon-save"></span>
                        Lưu</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<br />