<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <table class="table">
            <thead style="background-color: #4d4d4d; color: white; ">
                <tr>
                    <th>Tên chức năng</th>
                    <th>Mô tả chức năng</th>
                    <th>Đường dẫn chức năng</th>
                    <th>Trạng thái của chức năng</th>
                </tr>
            </thead>
            <tbody id="transaction_tbody">
                <tr>
                    <td>Topup thuê bao trả trước MobiFone</td>
                    <td><input class="form-control" type="text" value="Topup thuê bao trả trước MobiFone"></td>
                    <td><input class="form-control" type="text" value="mobifone.com/v1/test"></td>
                    <td>
                        <select class="form-control">
                            <option selected disabled hidden></option>
                            <option>Hiệu lực</option>
                            <option>Hết hiệu lực</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Bán mã thẻ nhà mạng khác</td>
                    <td><input class="form-control" type="text" value="Bán mã thẻ nhà mạng khá"></td>
                    <td><input class="form-control" type="text" value="mobifone.com/v1/test"></td>
                    <td>
                        <select class="form-control">
                            <option selected disabled hidden></option>
                            <option>Hiệu lực</option>
                            <option>Hết hiệu lực</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Topup data nhà mạng khác</td>
                    <td><input class="form-control" type="text" value="Topup data nhà mạng khác"></td>
                    <td><input class="form-control" type="text" value="mobifone.com/v1/test"></td>
                    <td>
                        <select class="form-control">
                            <option selected disabled hidden></option>
                            <option>Hiệu lực</option>
                            <option>Hết hiệu lực</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-10"></div>
            <div class="col-sm-1">
                <button class="btn fis form-control" onclick="">
                    <span class="glyphicon glyphicon-save"></span>
                    Lưu</button>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
    <div class="col-sm-1"></div>
    <br />
</div>