<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">

        <table class="table">
            <thead style="background-color: #4d4d4d; color: white;">
                <tr>
                    <th>Tên tham số</th>
                    <th>Mô tả tham số</th>
                    <th>Giá trị tham số</th>
                </tr>
            </thead>
            <tbody id="transaction_tbody">
                <tr>
                    <td><input class="form-control cfg-name" type="text" value="MAX_AMOUNT"></td>
                    <td><input class="form-control cfg-description" type="text" value="Số tiền tối đa"></td>
                    <td><input class="form-control cfg-data" type="text" value="10000000000"></td>
                </tr>
                <tr>
                    <td><input class="form-control cfg-name" type="text" value="OTHER_PARAM"></td>
                    <td><input class="form-control cfg-description" type="text" value="Tham số khác"></td>
                    <td><input class="form-control cfg-data" type="text" value="Other"></td>
                </tr>
                <tr>
                    <td><input class="form-control cfg-name" type="text" value=""></td>
                    <td><input class="form-control cfg-description" type="text" value=""></td>
                    <td><input class="form-control cfg-data" type="text" value=""></td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <!-- <div class="col-sm-3">
                <button class="form-control fis" id="create-cfg">+</button>
            </div> -->
            <div class="col-sm-9">
            </div>
            <div class="col-sm-3">
                <button class="btn fis form-control" onclick="user_create();">
                    <span class="glyphicon glyphicon-save"></span>
                    Lưu</button>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br />
    </div>
    <div class="col-sm-2"></div>
</div>