<script>
  var current_page = 1;
  var page_size = 10;
  var total_page = 1;
  var username_query;
  var id_edit;
  init();
  function init() {
    user_create_show();
    user_get_list();
    //page click action
    $('#pagination-here').on("page", function (event, num) {
      //show / hide content or pull via ajax etc
      current_page = num;
      user_get_list_page(function(){});
    });
  }
  function user_create_show() {
    //document.getElementById("create_box").style.display = "block";
    //document.getElementById("edit_box").style.display = "none";//tai sao loi ma usermanger ko loi
  }
  /*function user_edit_show() {
    document.getElementById("create_box").style.display = "none";
    document.getElementById("edit_box").style.display = "block";

    document.getElementById("role_id_edit").disabled = false;
    document.getElementById("first_name_edit").disabled = false;
    document.getElementById("last_name_edit").disabled = false;
    document.getElementById("phone_edit").disabled = false;
    document.getElementById("position_edit").disabled = false;
    document.getElementById("status_edit").disabled = false;
  }*/
  function user_create() {
    if(confirm('are you sure?'))
    {
     /* let req_data = {};
      req_data.username = document.getElementById("username_create").value;
      req_data.first_name = document.getElementById("first_name_create").value;
      req_data.last_name = document.getElementById("last_name_create").value;
      req_data.phone = document.getElementById("phone_create").value;
      req_data.position = document.getElementById("position_create").value;
      req_data.password = gw_gui_random_string(6);
      req_data.password_repeat = req_data.password;
      console.log(req_data);
      gw_gui_call_api('POST', '/api/user/create', req_data, null, function (status, data, xhr) {
        if ('success' == status) {
          alert('Success. Password is ' + req_data.password);
          user_get_list_page(function () { });
        }
        else {
          console.log(xhr.responseJSON);
          alert(xhr.responseJSON.msg);
        }
      });*/
    }
  }
  /*function user_edit() {
    if(confirm('are you sure?'))
    {
      let req_data = {};
      req_data.username = document.getElementById("username_edit").value;
      req_data.role_id = document.getElementById("role_id_edit").value;
      req_data.first_name = document.getElementById("first_name_edit").value;
      req_data.last_name = document.getElementById("last_name_edit").value;
      req_data.phone = document.getElementById("phone_edit").value;
      req_data.position = document.getElementById("position_edit").value;
      req_data.status = document.getElementById("status_edit").value;
      console.log(req_data);
      gw_gui_call_api('POST', '/api/user/edit_info', req_data, null, function (status, data, xhr) {
        if ('success' == status) {
          alert('success');
          user_get_list_page(function () { });
        }
        else {
          console.log(data);
          alert(xhr.responseJSON.msg);
        }
      });
    }
  }*/
  /*function user_resetpass() {
    if(confirm('are you sure?'))
    {
      let req_data = {};
      req_data.username = document.getElementById("username_edit").value;
      req_data.password = gw_gui_random_string(6);
      req_data.password_repeat = req_data.password;
      gw_gui_call_api('POST', '/api/user/change_password', req_data, null, function (status, data, xhr) {
        if ('success' == status) {
          alert('Success. Password is ' + req_data.password);
        }
        else {
          console.log(xhr.responseJSON);
          alert(xhr.responseJSON.msg);
        }
      });
    }
  }*/
  function user_get_list() {
    current_page = 1;
    username_query = document.getElementById("username_query").value;
    //id_query = document.getElementById("id_query").value;
    //role_id_query = document.getElementById("role_id_query").value;
    role_id_query = "";
    user_get_list_page(function (data) {
      // total_page = Math.ceil(data.count / page_size);
      total_page = Math.ceil(100 / page_size);
      //init_pagination();
    })
  }

  function user_get_list_page(callback) {
    let req_data;
    req_data = `username=${username_query}&id=${id_query}&role_id=${role_id_query}&page=${current_page - 1}&page_size=${page_size}`;
    //req_data = "";
    //gw_gui_call_api('GET', '/api/user/get_list', req_data, null, function (status, data, xhr) {
    gw_gui_call_api('GET', '/api/user/getList', req_data, null, function (status, data, xhr) {
      if ('success' == status) {
        let html_data = '';
        for (let i = 0; i < data.data.result.length; i++) {
          html_data +=
            `<tr>
              <td scope="col">${(current_page - 1) * page_size + i + 1}</td>
              <td scope="col">${data.data.result[i].username}</td>
              <td scope="col">${data.data.result[i].id}</td>
              <td scope="col">${data.data.result[i].role_id}</td>
            </tr>`;
        }
        document.getElementById("user_tbody").innerHTML = html_data;
        user_table_onclick();
        callback(data);
      }
      else {
        console.log(data);
        user_table_onclick();
        callback(data);
        alert(xhr.responseJSON.msg);
      }
    });
  }

  function user_table_onclick() {
    console.log('here')
     gw_gui_table_onclick("user_table", function (rowSelected) {
    //   let req_data;
    //   console.log('here')
    //   username_edit = rowSelected.cells[1].innerHTML;
    //   req_data = `username=${username_edit}`;
    //   document.getElementById("create_box").style.display = "none";
    //   document.getElementById("edit_box").style.display = "block";

    //   gw_gui_call_api('GET', '/api/user/get', req_data, null, function (status, data, xhr) {
    //     if ('success' == status) {
    //       document.getElementById("role_id_edit").disabled = true;
    //       document.getElementById("first_name_edit").disabled = true;
    //       document.getElementById("last_name_edit").disabled = true;
    //       document.getElementById("phone_edit").disabled = true;
    //       document.getElementById("position_edit").disabled = true;
    //       document.getElementById("status_edit").disabled = true;

    //       document.getElementById("username_edit").value = data.result.username;
    //       document.getElementById("role_id_edit").value = data.result.role_id;
    //       document.getElementById("first_name_edit").value = data.result.first_name;
    //       document.getElementById("last_name_edit").value = data.result.last_name;
    //       document.getElementById("phone_edit").value = data.result.phone;
    //       document.getElementById("position_edit").value = data.result.position;
    //       document.getElementById("status_edit").value = data.result.status;
    //       document.getElementById("last_login_edit").value = data.result.last_login;
    //       document.getElementById("user_created_edit").value = data.result.user_created;
    //       document.getElementById("user_modified_edit").value = data.result.user_modified;
    //       document.getElementById("date_created_edit").value = data.result.date_created;
    //       document.getElementById("date_modified_edit").value = data.result.date_modified;
    //     }
    //     else {
    //       console.log(data);
    //       alert(xhr.responseJSON.msg);
    //     }
    //   });
     });
  }
  
  function init_pagination() {
    $('#pagination-here').bootpag({
      total: total_page,
      page: current_page,
      maxVisible: 2,
      leaps: false,
      firstLastUse: true,
      next: '>',
      prev: '<',
      first: '<<',
      last: '>>',
      wrapClass: 'pagination',
      activeClass: 'active',
      disabledClass: 'disabled',
      nextClass: 'next',
      prevClass: 'prev',
      lastClass: 'last',
      firstClass: 'first'
    })
  }
</script>
