<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <h1>Communication</h1>
      </div>
      <div class="panel-body">
        <span class="glyphicon glyphicon-transfer" style="font-size:200px;"></span>
      </div>
      <div class="panel-footer">
        <a class="btn btn-block" href="./gw_com_tcp_ip.html"
          style="border-style: none; background-color:#F27228; color: white;">TCP</a>
        </br>
        <a class="btn btn-block" href="./gw_com_web_service.html"
          style="border-style: none; background-color:#F27228; color: white;">WebService</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <h1>Formatter</h1>
      </div>
      <div class="panel-body">
        <span class="glyphicon glyphicon-send" style="font-size:200px;"></span>
      </div>
      <div class="panel-footer">
        <a class="btn btn-block" href="./gw_fmt_iso_8583.html"
          style="border-style: none; background-color:#F27228; color: white;">Iso 8583</a>
        </br>
        <a class="btn btn-block" href="./gw_fmt_iso_20022.html"
          style="border-style: none; background-color:#F27228; color: white;">Iso 20022</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <h1>Core</h1>
      </div>
      <div class="panel-body">
        <span class="glyphicon glyphicon-cog" style="font-size:200px;"></span>
      </div>
      <div class="panel-footer">
        <a class="btn btn-block" href="./gw_core_mapping.html"
          style="border-style: none; background-color:#F27228; color: white;">Mapping</a>
        </br>
        <a class="btn btn-block" href="./gw_core_routing.html"
          style="border-style: none; background-color:#F27228; color: white;">Routing</a>
      </div>
    </div>
  </div>
</div>